$primary-bgcolor: #303030;

#header-div {
    height: 80px;
    background-color: $primary-bgcolor;

    display: flex;
    justify-content: center;
    align-items: center;
}

#header-div {
    h1 {
        color: #FFF;
    }
}